.sidebar__open+.container-charts {
  margin-left: 200px;
}

.sidebar__close+.container-charts {
  margin-left: 75px;
}

.container-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 2.5rem;
}

.chart {
  position: relative;
  flex: 0 0 100%;
}

.chart:not(:last-child) {
  margin-bottom: 3rem;
}

.margin-right {
  margin-right: 1.25rem;
}

@media screen and (min-width: 1000px) {
  .container-charts {
    padding-left: 4.75rem;
  }
  .modal__wrapper {
    width: 100%;
  }
  .chart {
    flex: 0 0 50%;
    padding-right: 2.25rem;
  }
  .chart:nth-child(3) {
    position: relative;
    flex: 0 0 100%;
  }
}

.icon-info {
  width: 23px;
}

.chart:nth-child(3) {
  /* padding-right: 1.25rem; */
}

.chart:last-child {
  /* padding-left: 1.25rem; */
}

.chart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: 44px;
}

.chart__title {
  font-size: 18px;
  font-weight: 100;
}

.chart__icon-info {
  width: 20px;
}

.chart-background {
  background: #fff;
  box-shadow: 0 1px 6px 0px rgba(182, 182, 182, 0.589);
}

.chart__action-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 20px;
}

/* Chart Legend */

.recharts-legend-wrapper.recharts-default-legend {
  left: 10px;
  bottom: 10px;
}

.recharts-default-legend li {
  font-size: 13px;
  font-weight: normal;
  display: flex;
}

.chart svg {
  overflow: hidden;
  /* margin-bottom: 30px; */
}

/* Select */

.arrow__img {
  width: 10px;
  transform: rotate(270deg);
  transition: all 0.2s ease-in-out;
  margin-right: 15px;
  position: relative;
  top: -2px;
}

.select__container__close span {
  width: 100%;
  color: var(--darkGrey);
}

/* Select Close */

.select__container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 0 0 50%;
}

.select__container__close {
  /* cursor: pointer;
  display: flex;
  align-items: center; */
}

.select__container__close:hover>span {
  color: var(--denim);
}

.select__container__close .select__ul {
  display: none;
}

/* Select Open */

.select__container__open {
  width: 20%;
}

.select__container__open .arrow__img {
  transform: rotate(90deg);
  position: relative;
  top: -2px;
}

.select__container__open .select__ul {
  top: 0;
  left: 0;
  overflow: scroll;
  width: 200px;
  height: 300px;
  margin-top: 25px;
  list-style: none;
  position: absolute;
  background: var(--moreLightGrey);
  margin-left: -4px;
  padding-left: 9px;
  z-index: 10;
  box-shadow: 0 1px 6px 0px rgba(182, 182, 182, 0.589);
}

.select__container__open .select__ul .select__li {
  display: block;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.select__container__open .select__ul .select__li:hover {
  background: #fff;
  color: var(--corallo)
}

.select__container__open .select__ul .select__li:visited {
  background: #fff;
  color: var(--corallo)
}

.recharts-legend-item {
  margin-left: 20px !important;
  padding-top: 30px !important;
}

/* Network Chart */

.sigma-mouse {
  /* display: none; */
}

.sigma-scene {
  /* padding: 2rem; */
}

.chart-background:last-child {
  /* padding-bottom: 2rem; */
}

/* Calendar */

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-datepicker-trigger.ui-calendar-button.ui-button-icon-only {
  background-color: var(--denim);
  border-color: var(--denim);
}

.ui-inputtext.ui-state-default.ui-corner-all.ui-widget {
  width: 65%;
}