header {
  width: 100%;
  height: 50px;
  background-color: var(--denim);
  display: flex;
  justify-content: flex-end;
}

header a {
  display: flex;
  justify-content: flex-end;
}

.account-logout {
  width: 22px;
}

.button__logout {
  background: none;
  border: none;
  width: 50px;
  cursor: pointer;
  outline: none;
}