.sidebar__open+.container-homepage {
  margin-left: 200px;
}

.sidebar__close+.container-homepage {
  margin-left: 75px;
}

.homepage-cards-wrapper{
  /* display: flex; */
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* margin-bottom: 3.5rem; */
}

.homepage-cards-wrapper.container-charts {
  justify-content: space-between;
  
}

.homepage-title {
  text-align: left;
  padding: 3rem 2.5rem 0;
  color: var(--darkGrey);
  opacity: 0.9;
  /* margin: 4.5rem 0 2rem 4.5rem; */
}

.homepage-subtitle { 
  text-align: left;
  /* padding: 0 2.5rem; */
  color: var(--darkGrey);
  opacity: 0.9;
  /* margin-left: 4.5rem; */
  /* margin-bottom: 3.5rem ; */
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 800px) {
  .homepage-cards-wrapper.container-charts {
    padding-left: 3rem;
  }
}
