.sidebar__open+.container-homepage {
  margin-left: 200px;
}

.sidebar__close+.container-homepage {
  margin-left: 75px;
}

.homepage-cards-wrapper {
  /* display: flex; */
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* margin-bottom: 3.5rem; */
}

.homepage-cards-wrapper.container-charts {
  padding-top: 1.5rem;
  justify-content: space-between;
}

.homepage-title {
  text-align: left;
  padding: 1.5rem 2.5rem 0;
  color: var(--darkGrey);
  opacity: 0.9;
  font-size: 18px;
  /* margin: 4.5rem 0 2rem 4.5rem; */
}

.homepage-subtitle {
  text-align: left;
  /* padding: 0 2.5rem; */
  color: var(--darkGrey);
  opacity: 0.9;
  font-size: 14px;
  /* margin-left: 4.5rem; */
  /* margin-bottom: 3.5rem ; */
}

/* Tweet Container */
.all-tweet {
  padding: 3rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 100%;
  justify-content: space-between;
}

.title-tweet {
  font-size: 20px;
  font-weight: 100;
  margin-left: 3rem;
  margin-bottom: 15px;
}

.wrapper-tweet:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 480px) {
  .homepage-title {
    font-size: 20px;
    padding-top: 3rem;
  }
  .homepage-subtitle {
    font-size: 16px;
  }
  .homepage-cards-wrapper.container-charts {
    padding-top: 3rem;
    /* padding-left: 3rem; */
  }
}

@media screen and (min-width: 800px) {
  .homepage-cards-wrapper.container-charts {
    padding-left: 3rem;
  }
  .homepage-title {
    font-size: 22px
  }
  .homepage-subtitle {
    font-size: 18px;
  }
  .all-tweet {
    flex-direction: row;
  }
}