*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --darkGrey: #303030;
  --mediumGrey: #585858;
  --lightGrey: #c1c1c1;
  --moreLightGrey: #f7f7f7;
  --denim: #6d7eb0;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Officina Sans STD */
@font-face {
  font-family: "Officina Sans STD";
  src: url('./../font/ITCOfficinaSans/OfficinaSansStd-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Officina Sans STD";
  src: url('./../font/ITCOfficinaSans/OfficinaSansStd-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Officina Sans STD";
  src: url('./../font/ITCOfficinaSans/OfficinaSansStd-Book.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Officina Sans STD";
  src: url('./../font/ITCOfficinaSans/OfficinaSansStd-BookItalic.woff');
  font-weight: normal;
  font-style: italic;
}

/* Officina Serif STD */
@font-face {
  font-family: "Officina Serif STD";
  src: url('./../font/ITCOfficinaSerif/OfficinaSerifStd-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Officina Serif STD";
  src: url('./../font/ITCOfficinaSerif/OfficinaSerifStd-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Officina Serif STD";
  src: url('./../font/ITCOfficinaSerif/OfficinaSerifStd-Book.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Officina Serif STD";
  src: url('./../font/ITCOfficinaSerif/OfficinaSerifStd-BookItalic.woff');
  font-weight: normal;
  font-style: italic;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

html {
<<<<<<< HEAD
  font-family: "Officina Sans STD";
=======
  font-family: "Officina Serif STD";
  font-weight: 600;
>>>>>>> franpa
}