.modal__wrapper {
  position: absolute;
  width: calc(100% + 1.25rem);
  height: 100%;
  z-index: 10;
  padding: 2.5rem;
  background: #fff;
  box-shadow: 0 1px 6px 0px rgba(182, 182, 182, 0.589);
}

.icon-close {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 20px;
}

.modal__testo {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.modal__testo h3 {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
  color: (--darkGrey);
}

.modal__testo p {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 200;
  color: (--darkGrey);
}

@media screen and (min-width: 1200px) {
  .modal__wrapper {
    width: calc(100% - 1.25rem);
  }
  .icon-close {
    top: 12px;
    right: 15px;
  }
}