*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper{
  max-width: 300px;
}

.testo{
  flex-direction: column;
  max-width: 300px;
  max-height: 150px;
  overflow-y: scroll;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header>h1{
  font-size: 18px;
  padding-left: 20px;
}

p{
  font-weight: 200;
  padding: 20px;
}