<<<<<<< HEAD
.sidebar__open {
  background: var(--moreLightGrey);
  font-family: 'Officina Sans STD';
  letter-spacing: 0.5px;
  padding: 1.7rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 300;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 6px 0px rgba(182, 182, 182, 0.589);
=======
.sidebar {
  background-color: red;
  font-family: 'Officina Sans STD';
  letter-spacing: 0.5px;
  padding: 1rem;
>>>>>>> franpa
}

#logo {
  width: 140px;
<<<<<<< HEAD
}

.navigation {
  color: var(--darkGrey);
  font-size: 13px;
  list-style: none;
  margin-top: 40px;
}

.navigation li {
  margin-bottom: 50px;
}

li a {
  text-decoration: none;
}

.navigation__account {
  color: var(--darkGrey);
  font-size: 14px;
  list-style: none;
  margin-left: 35px;
}

.navigation__hashtag {
  color: var(--darkGrey);
  font-size: 14px;
  list-style: none;
  margin-left: 35px;
}

.icon__h3 {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
}

.navigation__icon-home {
  width: 23px;
  margin-right: 15px;
  position: relative;
  top: -3px;
}
.navigation__icon-account {
  width: 20px;
  margin-right: 15px;
  position: relative;
  top: -3px;
}
.navigation__icon-hashtag {
  width: 18px;
  margin-right: 15px;
  position: relative;
  top: -3px;
}

.navigation li a:hover {
  color: var(--denim) !important; 
}

.navigation li a:visited {
  color: var(--darkGrey); 
}

.isActive {
  color: var(--denim) !important; 
}

.icon-arrow {
  width: 13px;
  transition: all 0.3s ease-in-out;
}

.bottone {
  position: absolute;
  bottom: 1.7rem;
  left: 1.7rem;
}


/* Sidebar Close! */

.sidebar__close {
  background: var(--moreLightGrey);
  font-family: 'Officina Sans STD';
  letter-spacing: 0.5px;
  padding: 1.7rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 75px;
  z-index: 300;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 6px 0px rgba(182, 182, 182, 0.589);
}

.sidebar__close h3 {
  display: none;
}

.sidebar__close .navigation__account li {
  display: none;
}

.sidebar__close .navigation__hashtag li {
  display: none;
}

.sidebar__close .navigation li {
  margin-bottom: 50px;
}

.sidebar__close .bottone .icon-arrow {
  transform: rotate(180deg);
}
=======
}
>>>>>>> franpa
